{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Sign In') }}{% endblock %}
{% block content %}
{{ super() }}

<div class="row align-items-center">
	<div class="col-4 offset-4">
		<div class="card">
			<div class="card-header"><b>{{ _('Sign In') }}</b></div>
			<div class="card-body">
				<form role="form" method="post" action="/login">
					{{ login_form.hidden_tag() }}
					<div class="form-group">
				    	{{ login_form.username.label }}:
				    	{{ login_form.username(size=12,class='form-control',autofocus='autofocus') }}
					</div>
					<div class="form-group">
				    	{{ login_form.password.label }}:
				    	{{ login_form.password(size=128,class='form-control') }}
					</div>
					{{ login_form.submit(class='btn btn-primary') }}
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
