{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Players') }}{% endblock %}
{% block content %}
{{ super() }}

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
			{% if players %}
				{{ _('List of all players connected to the machine.') }}<br/>
				<span class="text-muted">{{ _('Updated every minute') }}</span>
			{% else %}
				<p class="text-center text-muted">{{ _('No players found!') }}</p>
			{% endif %}
			</div>

			{% if players %}
			<table class="table table-responsive-sm table-striped">
				<thead>
					<tr>
						<th scope="col">{{ _('Name') }}</th>
						<th scope="col">{{ _('Created') }}</th>
						<th scope="col">{{ _('Last Seen') }}</th>
					</tr>
				</thead>
				<tbody>
				{% for player in players %}
					<tr id="ply-line-{{player.id}}" class="{% if player.status == 1 %}success{% endif %}">
						<td>{{player.name|safe}}</td>
						<td class="col-3">{{ format_datetime(player.create_date, 'short') }}</td>
						<td class="col-3">{{ format_datetime(player.last_seen_date, 'short') }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
{% block script %}
{% endblock %}
