{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Settings') }}{% endblock %}
{% block content %}
{{ super() }}

<div class="row mb-4">
	<div class="col-12 border border-top-0 border-left-0 border-right-0">
		<h1><i class="fa fa-cogs"></i> {{ _('Settings') }}</h1>
	</div>
</div>

{% if session.logged_in and session.uid == SUPERUSER_ID %}
<div class="row mb-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<b>{{ _('Users') }}</b>
				<span class="pull-right">
					<a class="btn btn-sm btn-outline-primary" id="create_user_slot"><i class="fa fa-user-plus"></i> {{ _('Create Slot') }}</a>
				</span>
			</div>

			<table class="table table-responsive-sm table-hover table-striped table-vertical-aligned">
				<thead>
					<tr>
						<th>{{ _('Username') }}</th>
						<th>{{ _('Demo') }}</th>
						<th>{{ _('Create Date') }}</th>
						<th>{{ _('Last Login Date') }}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody id="tbody-users">
					{% for user in users %}
					{% if not user.id == SUPERUSER_ID %}
					<tr id="user-{{user.id}}">
						<td>{{user.username}}</td>
						<td class="text-center"><div><i class="fa {{user.is_demo and 'fa-check' or 'fa-minus'}}"></i></div></td>
						<td>{{ format_datetime(user.create_date) }}</td>
						<td>{{user.last_login_date or _('Never')}}</td>
						<td class='text-right'>
							<button type="button" data-uid="{{user.id}}" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_new_password">
								<i class="fa fa-key"></i> {{ _('Change Password') }}
							</button>
							<button type="button" data-uid="{{user.id}}" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_user_permissions">
								<i class="fa fa-cog"></i> {{ _('Permissions') }}
							</button>
							<button type="button" class="remove-user btn btn-outline-danger btn-sm btn-delete-row" data-uid="{{user.id}}" title="{{ _('Remove User') }}"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					{% endif %}
					{% endfor %}

					{% for user in users_token %}
					<tr id="user-{{user.id}}" class="warning">
						<td><i>{{"%s '%s...'" % (_('User Slot'), user.token[:10])}}</i></td>
						<td class="text-center"><button type="button" data-id='{{user.id}}' data-demo="{{user.is_demo and '1' or '0'}}" class="btn btn-sm btn-user-demo {{user.is_demo and 'btn-outline-success' or 'btn-outline-danger'}}"><i class="fa {{user.is_demo and 'fa-check' or 'fa-minus'}}"></i></button></td>
						<td>{{ format_datetime(user.create_date) }}</td>
						<td>{{ user.last_login_date and format_datetime(user.last_login_date) or _('Never')}}</td>
						<td class='text-right'>
							<a data-uid="{{user.id}}" class="btn btn-sm btn-success btn-enable-user {{not user.is_demo and 'hidden' or ''}}" href="http://{{request.host}}/user_reg/{{user.token}}#last-page">
								<i class="fa fa-user-circle-o"></i> {{ _('Activate') }}
							</a>
							<button type="button" data-uid="{{user.id}}" class="btn btn-sm btn-success copy-link-user btn-clipboard {{user.is_demo and 'hidden' or ''}}" data-clipboard-text="http://{{request.host}}/user_reg/{{user.token}}">
								<i class="fa fa-link"></i> {{ _('Copy Link') }}
							</button>
							<button type="button" data-uid="{{user.id}}" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_user_permissions">
								<i class="fa fa-cog"></i> {{ _('Permissions') }}
							</button>
							<button type="button" class="remove-user btn btn-outline-danger border-0 btn-sm btn-delete-row" data-uid="{{user.id}}" title="{{ _('Cancel User Slot') }}"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<b>{{ _('Permission Levels') }}</b>
				<span class="pull-right">
					<a class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modal_create_permission_level">
						<i class="fa fa-plus-circle"></i> {{ _('Create Permission') }}
					</a>
				</span>
			</div>

			<table class="table table-responsive-sm table-hover table-striped table-vertical-aligned">
				<thead>
					<tr>
						<th>{{ _('Name') }}</th>
						<th class='cursor-help text-center' title="{{ _('Can start server?') }}">{{ _('Start') }}</th>
						<th class='cursor-help text-center' title="{{ _('Can stop server?') }}">{{ _('Stop') }}</th>
						<th class='cursor-help text-center' title="{{ _('Can change configuration?') }}">{{ _('Config') }}</th>
						<th class='cursor-help text-center' title="{{ _("Can use 'econ'?") }}">{{ _('ECon') }}</th>
						<th class='cursor-help text-center' title="{{ _('Can view issues?') }}">{{ _('Issues') }}</th>
						<th class='cursor-help text-center' title="{{ _('Can view logs?') }}">{{ _('Log') }}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody id="tbody-permission-levels">
					{% for perm in permission_levels %}
					<tr id="permission-{{perm.id}}">
						<td>{{perm.name}}</td>
						<td class='text-center'><button type="button" data-id='{{perm.id}}' data-perm='start' class="btn btn-sm btn-perm {{perm.start and 'btn-outline-success' or 'btn-outline-danger'}}"><i class="fa {{perm.start and 'fa-check' or 'fa-minus'}}"></i></button></td>
						<td class='text-center'><button type="button" data-id='{{perm.id}}' data-perm='stop' class="btn btn-sm btn-perm {{perm.stop and 'btn-outline-success' or 'btn-outline-danger'}}"><i class="fa {{perm.stop and 'fa-check' or 'fa-minus'}}"></i></button></td>
						<td class='text-center'><button type="button" data-id='{{perm.id}}' data-perm='config' class="btn btn-sm btn-perm {{perm.config and 'btn-outline-success' or 'btn-outline-danger'}}"><i class="fa {{perm.config and 'fa-check' or 'fa-minus'}}"></i></button></td>
						<td class='text-center'><button type="button" data-id='{{perm.id}}' data-perm='econ' class="btn btn-sm btn-perm {{perm.econ and 'btn-outline-success' or 'btn-outline-danger'}}"><i class="fa {{perm.econ and 'fa-check' or 'fa-minus'}}"></i></button></td>
						<td class='text-center'><button type="button" data-id='{{perm.id}}' data-perm='issues' class="btn btn-sm btn-perm {{perm.issues and 'btn-outline-success' or 'btn-outline-danger'}}"><i class="fa {{perm.issues and 'fa-check' or 'fa-minus'}}"></i></button></td>
						<td class='text-center'><button type="button" data-id='{{perm.id}}' data-perm='log' class="btn btn-sm btn-perm {{perm.log and 'btn-outline-success' or 'btn-outline-danger'}}"><i class="fa {{perm.log and 'fa-check' or 'fa-minus'}}"></i></button></td>
						<td class='text-right'>
							<button type="button" class="remove-permission-level btn btn-outline-danger border-0 btn-sm btn-delete-row" data-id="{{perm.id}}" title="{{ _('Remove Permission Level') }}"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header text-white bg-danger">{{ _('Change Password') }}</div>
			<div class="card-body">
				<form id="form-settings-change-pass" class="form-horizontal">
					<div class="row">
						<div class="col">
							<label for="pass-old" class="form-control-label">{{ _('Old password:') }}</label>
							<div class="controls">
								<input type="password" id="pass-old" name="pass-old" class="form-control" required />
								<p class="help-block"></p>
							</div>
						</div>
						<div class="col">
							<label for="pass-new" class="form-control-label">{{ _('New password:') }}</label>
							<div class="controls">
								<input type="password" id="pass-new" name="pass-new" class="form-control" required />
								<p class="help-block"></p>
							</div>
						</div>
						<div class="col">
							<label for="admin-pass-new-repeat" class="form-control-label">{{ _('Repeat new password:') }}</label>
							<div class="controls">
								<input type="password" id="pass-new-repeat" name="pass-new-repeat" data-validation-match-match="admin-pass-new" class="form-control" required />
								<p class="help-block"></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-right mt-1">
							<button type="button" id="btn-submit" class="btn btn-danger">{{ _('Change') }}</button>
						</div>
					</div>
				</form>
		  </div>
		</div>
	</div>
</div>

{% if session.logged_in and session.uid == SUPERUSER_ID %}
	{% include 'includes/modal_create_permission_level.html' %}
	{% include 'includes/modal_user_permissions.html' %}
	{% include 'includes/modal_new_password.html' %}
{% endif %}

{% endblock %}
{% block script %}
	<script type="text/javascript">
		"use strict";
		var $BABEL_STR_CANT_BE_EMPTY = {{_("Can't be empty")|tojson|safe}};
		var $BABEL_STR_PASSWORD_DOESNT_MATCH = {{_("Passwords doesn't match!")|tojson|safe}};
		var $BABEL_STR_PASSWORD_CHANGED_SUCCESSFULLY = {{_("Password changed successfully :)")|tojson|safe}};
		var $BABEL_STR_OK = {{_("Ok")|tojson|safe}};
		var $BABEL_STR_CONFIGURATION_CHANGED = {{_("Configuration Changed")|tojson|safe}};
		var $BABEL_STR_PERMISSION_LEVEL = {{_("Permission Level")|tojson|safe}};
		var $BABEL_STR_REMOVE_PERMISSION_LEVEL = {{_("Remove Permission Level")|tojson|safe}};
		var $BABEL_STR_USER = {{_("User")|tojson|safe}};
		var $BABEL_STR_NEVER = {{_("Never")|tojson|safe}};
		var $BABEL_STR_COPY_LINK = {{_("Copy Link")|tojson|safe}};
		var $BABEL_STR_ACTIVATE_USER = {{_("Activate")|tojson|safe}};
		var $BABEL_STR_PERMISSIONS = {{_("Permissions")|tojson|safe}};
		var $BABEL_STR_USER_SLOT = {{_("User Slot")|tojson|safe}};
		var $BABEL_STR_CHANGE_USER_PASSWORD = {{_("Change User Password")|tojson|safe}};
	</script>
	{% assets filters='jsmin', output='gen/settings.min.js', 'js/settings.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
