html {
     overflow: -moz-scrollbars-vertical;
     overflow: y-scroll;
}
body {
  /* Margin bottom by footer height */
  margin-top: 5em;
  margin-bottom: 30px;
  background-color: #F9F9F9;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 22px;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.line-divisor-section {
	border: 1px solid #CECECE;
	display: block;
	vertical-align: middle;
	margin-left: 0.5em;
}
.table-vertical-aligned td {
  vertical-align: middle !important;
}

.credit {
  text-align: center;
}

.btn-delete-row {
  color: #800000;
  margin-left: 1.5em;
}

.text-upper {
	text-transform: uppercase;
}

.space-bottom {
  margin-bottom: 1.5em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#chart-players-7d, #chart-machine-players7d {
  max-height: 200px;
}


.cursor-help:hover {
	cursor: help;
}

.vertical-centered {
	display: table-cell;
	vertical-align: middle;
}

.pill-server {
	height: 70px;
	min-height: 70px;
	max-height: 70px;
	padding: 5px;
	border-radius: 0 !important;
	color: white;
  overflow: hidden;
}
.pill-server span {
	font-size: small;
	top: -5px;
	z-index: 5;
}
.pill-server b {
	position: absolute;
	bottom: 25px;
	font-weight: bold;
	left: 35px;
	font-size: small;
}
.mini i {
	right: 18px !important;
}
.pill-server i {
	position: absolute;
	right: 25px;
	color: rgba(0,0,0,0.1);
}

/** MAIN MENU **/
/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden;
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important;
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0;
}



/* put toggle bars on the left :: not using button */
#slide-nav {
	box-shadow: 0 2px 5px #CCC;
}
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange;
}
.navbar-header {
    position: relative;
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative;
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) {
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0;
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333;
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
      	bottom:0;
	    width: 80%;
	    left: -80%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center;
	}
	#slide-nav .navbar-form .btn {
	    width: 100%;
	}
}
@media (min-width:768px) {
	#page-content {
	    left: 0 !important;
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed;
	}
	.navbar-header {
	    left: 0 !important;
	}
}

/* SERVER INSTANCE CONFG MODAL */
#jobslist {
	width: 100%;
	max-height: 270px;
	border: 0;
}
#jobconfig {
	overflow: auto;
	max-height: 270px;
	padding: 0 5px;
}

/* CHARTS */
.ct-label {
	font-weight: bold;
	font-size: x-small;
}
