{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_map_manager' %}

{% block head_content %}
<h4 class="modal-title">{{ _('Map Manager') }}</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<div class="modal-body">
	<div class="row">
    <div class="col-12">
			<div class="row text-right mb-2">
				<div class="col-12">
					<form id="upload-maps">
						<fieldset class="btn-file">
							<button id="btn-upload-map" class="btn btn-primary"><i class="fa fa-cloud-upload"></i> {{ _('Upload Maps') }}</button>
							<input type="file" name="file" id="file" />
						</fieldset>
					</form>
				</div>
			</div>

			<div id="maplist-container mt-2" style="overflow:auto; height:220px;">
				<form id='form-map-manager' class="deny-enter form-horizontal">
					<input type="hidden" id="srvmod" name="srvmod" value="-1" />

					<table class="table table-condensed table-hover table-striped">
						<thead>
							<tr>
								<th scope="col">{{ _('Name') }}</th>
								<th scope="col">{{ _('Size') }} (KiB)</th>
								<th scope="col">&nbsp;</th>
							</tr>
						</thead>
						<tbody id="maplist"></tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_content %}
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}</button>
	<button type="button" class="btn btn-success">{{ _('Save') }}</button>
</div>
{% endblock %}
