{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_new_password' %}

{% block head_content %}
<h4 class="modal-title">{{ _('Set User Password') }}</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<div class="modal-body">
	<form class="deny-enter">
		<input type='hidden' id='uid' value=''/>
		<div class="form-group">
	    	<label for="passwd">{{ _('New Password:') }}</label>
			<input type="password" class="form-control" id="passwd" name="passwd" required />
		</div>
	</form>
</div>
{% endblock %}

{% block footer_content %}
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Cancel') }}</button>
	<button type="button" class="btn btn-success">{{ _('Change Password') }}</button>
</div>
{% endblock %}
