{% if server %}
{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_create_banner' %}

{% block head_content %}
	<h4 class="modal-title"><i class="fa fa-picture-o"></i> {{ _('Create Banner') }}</h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<div class="modal-body">
	<div class="row">
		<div class="col-4">
			<label for="color-title">{{_('Server Name')}}:</label>
			<div class="input-group colorpicker-input" id="color-title">
			    <input type="text" value="rgb(34, 33, 60)" class="form-control" name="color-title"/>
			    <span class="input-group-addon"><i></i></span>
			</div>
		</div>
		<div class="col-4">
			<label for="color-detail">{{_('Detail')}}:</label>
			<div class="input-group colorpicker-input" id="color-detail">
			    <input type="text" value="rgb(0, 0, 0)" class="form-control" name="color-detail"/>
			    <span class="input-group-addon"><i></i></span>
			</div>
		</div>
		<div class="col-4">
			<label for="color-address">{{_('Address')}}:</label>
			<div class="input-group colorpicker-input" id="color-address">
			    <input type="text" value="rgb(1, 65, 103)" class="form-control" name="color-address" />
			    <span class="input-group-addon"><i></i></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<label for="color-grad-start">{{_('Gradient Start')}}:</label>
			<div class="input-group colorpicker-input" id="color-grad-start">
			    <input type="text" value="rgb(214, 213, 213)" class="form-control" name="color-grad-start" />
			    <span class="input-group-addon"><i></i></span>
			</div>
		</div>
		<div class="col-6">
			<label for="color-grad-end">{{_('Gradient End')}}:</label>
			<div class="input-group colorpicker-input" id="color-grad-end">
			    <input type="text" value="rgb(166, 165, 165)" class="form-control" name="color-grad-end" />
			    <span class="input-group-addon"><i></i></span>
			</div>
		</div>
	</div>

	<div class="row mt-1">
		<div class="col-12 text-right">
			<button type="button" id="generate-banner" class="btn btn-primary">{{_('Generate')}}</button>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<label for="server-banner">{{_('Preview')}}:</label>
			<div id="preview" style="overflow:auto; padding:0.5em;">
				<img alt="{{_('Server Banner')}}" src="{{'/server/%d/banner' % server.id}}" id="server-banner" name="server-banner" />
			</div>
			<label style="margin-top:0.5em" for="share-url">{{_('Share URL')}}:</label>
			<input type="text" id="share-url" name="share-url" class="form-control" readonly />
		</div>
	</div>
</div>
{% endblock %}
{% endif %}
