{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_user_permissions' %}

{% block head_content %}
<h4 class="modal-title">{{ _('User Permissions') }}</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<input type='hidden' id='uid' value=''/>
<div class="modal-body">
	<div class="row">
    	<div class="col-12">
			<table class="table table-condensed table-hover table-striped table-vertical-aligned">
				<thead>
					<tr>
						<th scope="col">{{ _('Server') }}</th>
						<th scope="col">{{ _('Port') }}</th>
						<th scope="col">{{ _('Level') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for srv in servers %}
					<tr>
						<td style='vertical-align:middle;'>{{srv.name}}</td>
						<td style='vertical-align:middle;'>{{srv.port}}</td>
						<td>
							<select id='perm-{{srv.id}}' data-srvid='{{srv.id}}' class="select2 form-control input-sm">
								<option value='-1'>{{ _('None') }}</option>
								{% for perm in permission_levels %}
								<option value='{{perm.id}}'>{{perm.name}}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					{% endfor %}
				</tbody>
	  		</table>
	  	</div>
	</div>
</div>
{% endblock %}

{% block footer_content %}
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}</button>
</div>
{% endblock %}
