{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_import_git' %}

{% block head_content %}
<h4 class="modal-title">{{ _('Install from Git') }}</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<div class="modal-body">
	<div class="row">
    	<div class="col-12">
			<form id='form-git' class="deny-enter form-horizontal" action="/install_mod_from_git" method="POST">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<div class="form-group">
					<label for="git_url">{{ _('Git URL') }}</label>
					<input class="form-control" type="text" id="git_url" name="git_url" placeholder="{{ _('Git URL') }}"/>
			    </div>
			    <div class="form-group">
			    	<label for="git_url">{{ _('Branch') }}</label>
			    	<input class="form-control" type="text" id="git_branch" name="git_branch" value="master" placeholder="{{ _('Branch') }}"/>
			    </div>
			    <div class="form-group">
			    	<label for="bam_params">{{ _('Override Bam Build Parameters') }}</label>
			    	<input class="form-control" type="text" id="bam_params" name="bam_params" placeholder="{{ _('Leave it empty if you do not know what you are doing') }}"/>
			    </div>
			    <i class="font-italic text-muted text-sm">*** {{ _('Remember that some mods need to have installed specific libraries in your system.') }}</i>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_content %}
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Cancel') }}</button>
	<button type="button" class="btn btn-success">{{ _('Install') }}</button>
</div>
{% endblock %}
