{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_instance_configuration' %}

{% block head_content %}
<h4 class="modal-title">{{ _('Instance Configuration') }}</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<div class="modal-body">
	<div class="row">
    	<div class="col-12">
			<div class="form-group">
			    <input type="checkbox" id="check_alsrv" /> <label class="control-label" for="alsrv">{{ _('Auto-Launch if offline') }}</label>
			</div>

			<ul class="nav nav-tabs mb-2" role="tablist">
				<li class="nav-item"><a href="#wizard" class="nav-link" role="tab" data-toggle="tab">{{ _('Wizard') }}</a></li>
				<li class="nav-item"><a href="#maps" class="nav-link" role="tab" data-toggle="tab">{{ _('Maps') }}</a></li>
				<li class="nav-item"><a href="#advance" class="nav-link active" role="tab" data-toggle="tab">{{ _('Advance') }}</a></li>
				<!-- <li><a href="#scheduler" data-toggle="tab">{{ _('Scheduler') }}</a></li> -->
			</ul>

			<div class="tab-content">
				<div class="tab-pane" id="wizard"></div>
				<div class="tab-pane" id="maps">
					<div id="maplist-container mt-2" style="overflow:auto; height:220px;">
						<table class="table table-responsive-sm table-hover table-striped">
							<thead>
								<tr>
									<th scope="col" style="width:10px">&nbsp;</th>
									<th scope="col">{{ _('Name') }}</th>
									<th scope="col">{{ _('Size') }} (KB)</th>
								</tr>
							</thead>
							<tbody id="maplist">
							</tbody>
						</table>
					</div>
				</div>
			  	<div class="tab-pane active" id="advance">
			  		<form id='form-server-config' class="deny-enter form-horizontal">
						<input type="hidden" id="srvid" name="srvid" value="-1" />
						<input type="hidden" id="srvmod" name="srvmod" value="" />
						<input type="hidden" id="alsrv" name="alsrv" value="false" />
						<div class="form-group">
							<div class="col-12">
								<textarea rows="12" class="form-control" style="max-width:100%;" id="srvcfg" name="srvcfg"></textarea>
								<span class="help-block">{{ _('Here goes your') }} <a target="_blank" href="https://www.teeworlds.com/?page=docs&wiki=server_settings">{{ _('configuration') }}</a></span>
							</div>
						</div>
					</form>
				</div>
				<!-- <div class="tab-pane" id="scheduler">
					<div class="col-md-3 col-xs-3" style="padding:0;">
						<select size="15" id="jobslist">
							<option>#1</option>
						</select>
						<div class="pull-right">
							<a href="#" class="btn btn-xs success" title="{{_('Add Job')}}"><i class="fa fa-plus"></i></a>
							<a href="#" class="btn btn-xs danger" title="{{_('Remove Job')}}"><i class="fa fa-trash"></i></a>
						</div>
					</div>
					<div class="col-md-9 col-xs-9" style="padding:0;">
						<div id="jobconfig">
							<div class="form-group col-md-6">
								<label for="jobid">{{_('Job ID')}}</label>
								<input type="text" id="jobid" class="form-control"/>
							</div>
							<div class="form-group col-md-6">
								<label for="jobtype">{{_('Job Type')}}</label>
								<select id="jobtype" class="form-control">
									<option value="cron">cron</option>
									<option value="interval">interval</option>
								</select>
							</div>
							<div class="form-group col-md-12">
								<label for="jobid">{{_('Interval (secs)')}}</label>
								<input type="number" id="jobstart" class="form-control"/>
							</div>
							<div class="form-group col-md-6">
								<label for="jobstart">{{_('Start Date')}}</label>
								<input type="date" id="jobstart" class="form-control"/>
							</div>
							<div class="form-group col-md-6">
								<label for="jobend">{{_('End Date')}}</label>
								<input type="date" id="jobend" class="form-control"/>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_content %}
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}</button>
	<button type="button" class="btn btn-success">{{ _('Save') }}</button>
</div>
{% endblock %}
