<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="slide-nav">
  <a class="navbar-brand" href="{{ get_app_config().brand_url or '#' }}"><i class="fa fa-server"></i> {{ get_app_config().brand }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == '/' or request.path.startswith('/overview') %} active {% endif %}"><a class="nav-link" href="/">{{ _('Overview') }}</a></li>
      <li class="nav-item {% if request.path.startswith('/server') %} active {% endif %}"><a class="nav-link" href="/servers">{{ _('Servers') }} <span id="badge-num-server-instances" class="badge badge badge-light hidden">0</span></a></li>
      <li class="nav-item {% if request.path.startswith('/players') %} active {% endif %}"><a class="nav-link" href="/players">{{ _('Players') }}</a></li>
      <!-- li class="{% if request.path.startswith('/maps') %} active {% endif %}"><a href="/maps">{{ _('Maps') }}</a></li -->
    </ul>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      {% if session.logged_in %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{session.username}} <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="/settings">{{ _('Settings') }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item fa fa-sign-out" href="/logout">{{ _('Logout') }}</a>
          </div>
        </li>
      {% else %}
        <li><a class="nav-link" href="/login">{{ _('Sign In') }}</a></li>
      {% endif %}

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-clock-o"></i> <b><span id="localtime">00:00</span></b> <span id="localzone"></span>
        </a>
          <div class="dropdown-menu md-size-list">
            <form id='tzform'>
              <select id="tzstr" name="tzstr" size="6" border="0">
                {% set timezones=get_timezones() %}
                {% for tz in timezones %}
                  <option value='{{ tz }}' {{ (tz == session['timezone']) and 'selected' or '' }}>{{ tz }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
      </li>
    </ul>

    <form action="/search" method="get" class="form-inline mt-2 mt-md-0">
      <input type="search" class="form-control mr-sm-2"
        name="r" placeholder="{{ _('Search...') }}"
        value="{{search}}"/>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</nav>
