<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} - Teeworlds Web Panel</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Alexandre Díaz">
		<meta name="csrf-token" content="{{ csrf_token() }}">

		<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

		<link href="{{ url_for('static', filename='lib/bootstrap-4.0.0b2/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='lib/bootstrap-4.0.0b2/bootstrap-grid.min.css') }}" rel="stylesheet" type="text/css">
		<!--link href="{{ url_for('static', filename='lib/bootstrap-4.0.0b2/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css"-->
		<link href="{{ url_for('static', filename='lib/font-awesome-4.7.0/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='lib/chartist-js-0.11.0/chartist.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='lib/colorpicker-3.0.0/bootstrap-colorpicker.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='lib/select2-4.0.6rc0/select2.min.css') }}" rel="stylesheet" type="text/css">
		{% assets filters='cssmin', output='gen/app.min.css', 'css/app.css' %}
		  	<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
		{% endassets %}
	</head>

	<body>
		{% if navbar %}
			{% include "includes/nav.html" %}
		{% endif %}

		<div id="page-content">
			<div class="container">
				{% block content %}
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								<div class="alert alert-{{ category }}">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
				{% endblock %}
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<p class="text-muted credit"><small>Teeworlds Web Panel &copy; Alexandre Díaz & <a target='_blank' href="https://github.com/Tardo/twp/graphs/contributors">Contributors</a> - 2015-2017 - <a target="_blank" href="https://www.gnu.org/licenses/agpl.html">GNU AGPL</a> - <a href="https://github.com/Tardo/twp"><i class="fa fa-github"></i> GitHub</a></small></p>
			</div>
		</footer>

		<script type="text/javascript">
			"use strict";
			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			var $REFRESH_TIME = {{ config['REFRESH_TIME']|tojson|safe }} * 1000;
			var $TIMEZONE = {{ (session.timezone or 'UTC')|tojson|safe }};

			var $BABEL_STR_NO_AUTH = {{_("You haven't the permissions for do this action.")|tojson|safe}};
			var $BABEL_STR_TITLE_NO_AUTH = {{_("ACTION NOT ALLOWED")|tojson|safe}};
			var $BABEL_STR_SESSION_EXPIRED = {{_("The session has expired")|tojson|safe}};
			var $BABEL_STR_TITLE_SESSION_EXPIRED = {{_("Session Expired!")|tojson|safe}};
			var $BABEL_STR_INTERNAL_ERROR = {{_("Interal error has ocurred!")|tojson|safe}};
			var $BABEL_STR_ERROR_OOOPS = {{_("Error - Ooops!")|tojson|safe}};
			var $BABEL_STR_DAMN = {{_("Damn")|tojson|safe}};
			var $BABEL_STR_ARE_YOU_SURE = {{_("Are you sure?")|tojson|safe}};
			var $BABEL_STR_DELETE = {{_("Delete")|tojson|safe}};
			var $BABEL_STR_OK = {{_("Ok")|tojson|safe}};
			var $BABEL_STR_CANCEL = {{_("Cancel")|tojson|safe}};
			var $BABEL_STR_NO_DATA = {{_("NO DATA")|tojson|safe}};
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/moment-2.19.2/moment.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/moment-timezone-0.5.13/moment-timezone.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-3.2.1/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/popper-1.12.9/popper.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/popper-1.12.9/popper-utils.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-4.0.0b2/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/bootbox-5.0.0b/bootbox.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/chartist-js-0.11.0/chartist.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/clipboard-1.7.1/clipboard.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/colorpicker-3.0.0/bootstrap-colorpicker.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/select2-4.0.6rc0/select2.min.js') }}"></script>
		{% assets filters='jsmin', output='gen/main.min.js', 'js/main.js' %}
		  	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
		{% block script %}{% endblock %}
	</body>
</html>
